*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  padding-top: 64px;
  font-size: 34px;
  height: 10vh;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}

.cell {
  border: none;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  font-size: 52px;
  font-weight: 700;
}

.no-bottom {
  border-bottom: none;
}

.no-right {
  border-right: none;
}

.win {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 80%;
  max-width: 800px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-game-btn {
  padding: 10px 20px;
}

.hidden {
  transform: translateX(100%) translateY(100%);
  transform: scale(0);
}
